== form_for @user, :html => {:class => "form-horizontal"} do |f|
  div.form-group
    == f.label :id, class: "col-sm-2 control-label"
    div.col-sm-10
      == @user.id
  div.form-group
    == f.label :username, class: "col-sm-2 control-label"
    div.col-sm-10
      == f.text_field :username, class: "form-control"
  div.form-group
    == f.label :email, class: "col-sm-2 control-label"
    div.col-sm-10
      == f.email_field :email, class: "form-control"
  div.form-group
    == f.label :password, class: "col-sm-2 control-label"
    div.col-sm-10
      == f.password_field :password, class: "form-control"
  div.form-group
    == f.label :first_name, class: "col-sm-2 control-label"
    div.col-sm-10
      == f.text_field :first_name, class: "form-control"
  div.form-group
    == f.label :last_name, class: "col-sm-2 control-label"
    div.col-sm-10
      == f.text_field :last_name, class: "form-control"
  div.form-group
    == f.label :date_of_birth, class: "col-sm-2 control-label"
    div.col-sm-10
      == f.date_field :date_of_birth, class: "form-control"
  div.form-group
    == f.label :city_id, class: "col-sm-2 control-label"
    div.col-sm-10
      == f.select :city_id, City.all.collect { |p| [ p.name, p.id ] }, {include_blank: true}, {:class => "form-control"}
  div class="col-sm-offset-2 col-sm-10"
    == f.submit class: "btn btn-default"

  div class="col-sm-offset-2 col-sm-10"
    - if can? [:create, :update], @user
    == link_to "Back", journeys_path, class: "btn btn-default"
